@model WebUI.Models.LoginView
@{
    Layout = "~/Areas/HelpPages/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Вход";
}
@if (TempData["messageAuth"] != null)
{
    <div class="alert alert-success">@TempData["messageAuth"]</div>
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Index", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Введите Ваши данные для входа в систему</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Вход" class="btn btn-default" />
                    </div>
                </div>
                <p class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("Зарегистрироваться", "Register", null, new { @class = "btn btn-primary" })
                </p>
            }
        </section>
    </div>
</div>
